@theme {
	--color-gray-50: #f7f8f8;
	--color-gray-100: #e9e9ea;
	--color-gray-200: #d8d9da;
	--color-gray-300: #bfc1c2;
	--color-gray-400: #9ea0a1;
	--color-gray-500: #8a8c8d;
	--color-gray-600: #7e8082;
	--color-gray-700: #646567;
	--color-gray-800: #525355;
	--color-gray-900: #454646;
	--color-gray-950: #2a2b2b;
	--color-sand-50: #f8f7f4;
	--color-sand-100: #ebebe2;
	--color-sand-200: #dbd9cb;
	--color-sand-300: #bfbda3;
	--color-sand-400: #a2a18b;
	--color-sand-500: #8e8c7a;
	--color-sand-600: #7c7a6a;
	--color-sand-700: #676659;
	--color-sand-800: #55544a;
	--color-sand-900: #46463d;
	--color-sand-950: #2b2b26;
	--color-teal-50: #f6f7f8;
	--color-teal-100: #e6ebeb;
	--color-teal-200: #d2dbdc;
	--color-teal-300: #b6c4c5;
	--color-teal-400: #90a4a6;
	--color-teal-500: #789194;
	--color-teal-600: #637f83;
	--color-teal-700: #4c6c71;
	--color-teal-800: #355a5f;
	--color-teal-900: #214d52;
	--color-teal-950: #003b41;
	--color-ruby-50: #f9f7f6;
	--color-ruby-100: #eee8e8;
	--color-ruby-200: #e1d7d5;
	--color-ruby-300: #cdbbba;
	--color-ruby-400: #b29996;
	--color-ruby-500: #a08380;
	--color-ruby-600: #91706d;
	--color-ruby-700: #805b57;
	--color-ruby-800: #704744;
	--color-ruby-900: #623835;
	--color-ruby-950: #401212;
}
