$primary: #7e8082;
$secondary: #003b41;
$info: #bfbda3;
$danger: #401212;
$light: #f7f8fa;
$dark: #0d0d0d;

$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Playfair Display', serif;

@import '../node_modules/bootstrap/scss/bootstrap';

.accordion-item {
	color: inherit;
}
